/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* FONTS */

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Light.woff2") format("woff2"), url("../fonts/Circular_Air-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Book.woff2") format("woff2"), url("../fonts/Circular_Air-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Bold.woff2") format("woff2"), url("../fonts/Circular_Air-Bold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* MAIN */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.9);
    -webkit-font-rendering: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 100%; */
    background: #fbfbfb;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 500;
}

.wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.wrapper.fix {
    max-width: 750px;
    margin: 0 auto;
}

.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* UTILITY CLASSES */

.reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-vertically {
    -webkit-align-items: center;
    align-items: center;
}

.align-horizontally {
    -webkit-justify-content: center;
    justify-content: center;
}

.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* HEADER */

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

.logo {
    padding: 12px;
}

.logo img {
    height: 28px;
    margin-right: 12px;
}

.logo h1 {
    text-transform: uppercase;
    padding-bottom: 2px;
}

.logo h2 {
    color: rgba(16, 16, 16, 0.5);
    font-size: 0.688em;
}

nav {
    font-size: 0.750em;
    font-weight: 500;
    text-transform: uppercase;
}

nav a {
    color: inherit;
    padding: 18px 12px;
    display: inline-block;
    transition: color 0.3s;
}

nav a:hover {
    color: rgba(16, 16, 16, 0.5);
    transition: color 0.3s;
}

/* HERO */

.hero {
    padding: 3em 2em;
}

.hero h1 {
    font-size: 2.375em;
    font-weight: 300;
    line-height: 1.3;
    width: 100%;
}

.hero h2 {
    padding: 10px 0 0 0;
    color: rgba(16, 16, 16, 0.5);
    width: 100%;
}

.section .line {
    height: 2px;
    background: #000;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.section h1 {
    background: #fbfbfb;
    padding: 4px 8px;
    display: inline-block;
    position: absolute;
    left: 10px;
}

/* SELECTED WORK */

#work .title {
    -webkit-flex: 1;
    flex: 1;
    padding: 4em 2em;
}

#work h1 {
    font-size: 1.750em;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
}

#work p {
    line-height: 1.3;
    font-size: 0.875em;
    color: rgba(255, 255, 255, 1);
}

#work a, .label {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 20px;
    background: #fff;
    text-transform: uppercase;
    font-size: 0.750em;
    color: inherit;
    margin: 10px 0;
    transition: all 0.3s;
}

#work a:after {
    content: "\F054";
    font-weight: 400;
    font-family: 'Material Design Icons';
    margin-left: 6px;
    transition: all 0.2s;
}

#work a:hover:after {
    margin-left: 18px;
    transition: all 0.2s;
}

#work a:active {
    box-shadow: none;
    transition: all 0.3s;
}

#work .sample {
    -webkit-flex: 1;
    flex: 1;
}

.block {
    border-radius: 20px;
    margin: 3em 0;
    position: relative;
    z-index: 1;
}

/* .block:first-of-type {
    margin-top: 3em;
}

.block:last-of-type {
    margin-bottom: 3em;
} */

/* MYHEAT */

#work .block.orange {
    background-image: linear-gradient(to right, #f09819 0%, #ff7158 100%);
}

#work .block .light-orange {
    background: rgba(240, 152, 25, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(-4deg, -4deg) scale(1.05) rotateX(35deg);
    box-shadow: 0 5px 20px rgba(240, 152, 25, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .orange-text-shadow {
    text-shadow: 0 1px 3px rgba(217, 101, 8, 1);
}

#work .orange-box-shadow {
    box-shadow: 0 2px 10px rgba(217, 101, 8, 0.7);
}

#work .orange-text-color {
    color: #f09819;
}

/* VISUALOG */

#work .block.grey {
    background-image: linear-gradient(to right, #375e78 0%, #1C2A3C 100%);
    /* box-shadow: -10px 10px 0 rgba(55, 94, 120, 0.2); */
}

#work .block .light-grey {
    background: rgba(55, 94, 120, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(4deg, 4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(55, 94, 120, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .grey-text-shadow {
    text-shadow: 0 1px 3px rgba(28, 42, 60, 1);
}

#work .grey-box-shadow {
    box-shadow: 0 2px 10px rgba(28, 42, 60, 0.7);
}

#work .grey-text-color {
    color: #375e78;
}

/* MONEY AFTER GRADUATION */

#work .block.teal {
    background-image: linear-gradient(to right, #189dad 0%, #00cdac 100%);
    /* box-shadow: 10px 10px 0 rgba(0, 205, 172, 0.2); */
}

#work .block .light-teal {
    background: rgba(0, 205, 172, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(-4deg, -4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(0, 205, 172, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .teal-text-shadow {
    text-shadow: 0 1px 3px rgba(10, 110, 122, 0.7);
}

#work .teal-box-shadow {
    box-shadow: 0 2px 10px rgba(10, 110, 122, 0.7);
}

#work .teal-text-color {
    color: #189dad;
}

/* SPORTSITY */

#work .block.green {
    background-image: linear-gradient(to right, #50cc60 0%, #009c2d 100%);
    /* box-shadow: -10px 10px 0 rgba(80, 204, 96, 0.2); */
}

#work .block .light-green {
    background: rgba(80, 204, 96, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(4deg, 4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(80, 204, 96, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .green-text-shadow {
    text-shadow: 0 1px 3px rgba(0, 156, 45, 1);
}

#work .green-box-shadow {
    box-shadow: 0 2px 10px rgba(0, 156, 45, 0.7);
}

#work .green-text-color {
    color: #009c2d;
}

/* H WEDS A */

#work .block.copper {
    background: linear-gradient(to right, #94716B 0%, #B79891 100%);
    /* box-shadow: 10px 10px 0 rgba(148, 113, 107, 0.2); */
}

#work .block .light-copper {
    background: rgba(148, 113, 107, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(-4deg, -4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(148, 113, 107, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .copper-text-shadow {
    text-shadow: 0 1px 3px rgba(108, 82, 77, 1);
}

#work .copper-box-shadow {
    box-shadow: 0 2px 10px rgba(108, 82, 77, 0.7);
}

#work .copper-text-color {
    color: #7a5c57;
}

/* FLYVU */

#work .block.blue {
    background-image: linear-gradient(to right, #04befe 0%, #4481eb 100%);
    /* box-shadow: -10px 10px 0 rgba(4, 190, 254, 0.2); */
}

#work .block .light-blue {
    background: rgba(4, 190, 254, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(4deg, 4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(4, 190, 254, 0.2);
    z-index: -1;
    border-radius: 20px;
}

#work .blue-text-shadow {
    text-shadow: 0 1px 3px #0487b4;
}

#work .blue-box-shadow {
    box-shadow: 0 2px 10px rgba(4, 135, 180, 0.7);
}

#work .blue-text-color {
    color: #2ba0f4;
}

/* ARTICLES */

#thoughts {
    padding: 3em;
}

#thoughts ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

#thoughts ol li a {
    border-bottom: 1px solid rgba(16, 16, 16, 0.05);
    padding-bottom: 3px;
    display: inline-block;
    color: inherit;
    transition: all 0.3s;
}

#thoughts ol li a:hover {
    border-bottom: 1px solid rgba(16, 16, 16, 0.9);
    transition: all 0.3s;
}

#thoughts ol li:last-child {
    margin-top: 16px;
}

/* ABOUT */

#about .profile-pic img {
    border-radius: 100%;
    height: 128px;
    width: 128px;
}

#about .profile-summary {
    line-height: 1.3;
    margin-left: 2em;
}

/* FOOTER */

footer {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
}

footer p {
    font-size: 0.750em;
}

footer a {
    color: inherit;
    display: inline-block;
    transition: color 0.3s;
}

footer a:hover {
    color: rgba(16, 16, 16, 0.6);
    transition: color 0.3s;
}

/* ICONS */

.mdi {
    margin: 0 0 0 6px;
}

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.eot?v=2.2.43");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=2.2.43") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=2.2.43") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=2.2.43") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=2.2.43") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=2.2.43#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "Material Design Icons";
    font-weight: 400;
    display: inline-block;
    padding: 8px;
}

.icon-email:before {
    content: '\F065';
}

.icon-twitter:before {
    content: '\F544';
}

.icon-github-circled:before {
    content: '\F2A4';
}

.icon-linkedin:before {
    content: '\F33B';
}

.icon-instagram:before {
    content: '\F2FE';
}
