/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* FONTS */

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Light.woff2") format("woff2"), url("../fonts/Circular_Air-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Book.woff2") format("woff2"), url("../fonts/Circular_Air-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("../fonts/Circular_Air-Bold.woff2") format("woff2"), url("../fonts/Circular_Air-Bold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* MAIN */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.9);
    -webkit-font-rendering: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fbfbfb;
}

a {
    text-decoration: none;
    color: rgba(16, 16, 16, 0.9);
}

strong {
    font-weight: 500;
}

.wrapper {
    max-width: 740px;
    margin: 0 auto;
}

.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* UTILITY CLASSES */

img {
    width: 100%;
}

/* img.rounded {
    border-radius: 15px;
} */

.mock {
    margin: 3em 0 0 0;
}

.no-bottom-padding {
    padding-bottom: 0 !important;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-margins {
    margin: 0 !important;
}

.flex-1 {
    -webkit-flex: 1;
    flex: 1;
}

.reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-vertically {
    -webkit-align-items: center;
    align-items: center;
}

.align-horizontally {
    -webkit-justify-content: center;
    justify-content: center;
}

.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.caption {
    font-size: 0.875em;
}

/* HEADER */

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 0 18px;
}

header a {
    color: inherit;
}

.logo {
    padding: 12px 0;
}

.logo:before {
    content: '';
    background: url('../img/emoji.svg') no-repeat;
    height: 28px;
    width: 28px;
    margin-right: 10px;
    background-position: -28px 0;
}

.logo:hover:before {
    background-position: 0 0;
}

.logo h1 {
    text-transform: uppercase;
    padding-bottom: 2px;
}

.logo h2 {
    color: rgba(16, 16, 16, 0.6);
    font-size: 0.688em;
    width: 140px;
}

.logo h2:after {
    content: 'designer. coder. maker.';
    padding: 16px 0 0 0;
}

.logo h2:hover:after {
    content: "hi, nice to meet you!";
}

nav {
    font-size: 0.750em;
    font-weight: 500;
    text-transform: uppercase;
}

nav a {
    color: inherit;
    padding: 18px 12px;
    display: inline-block;
    transition: color 0.3s;
}

nav a:last-child {
    padding-right: 0;
}

nav a:hover {
    color: rgba(16, 16, 16, 0.6);
    transition: color 0.3s;
}

button {
    background: none;
    border: 0;
}

.mobile-menu {
    display: none;
}

/* HERO */

.hero {
    margin: 3em 2em;
}

.hero h1 {
    font-size: 1.875em;
    font-weight: 300;
    line-height: 1.3;
    width: 100%;
}

.hero h2 {
    padding: 0.813em 0 0 0;
    color: rgba(16, 16, 16, 0.6);
    width: 100%;
    line-height: 1.5;
}

/* SECTIONS */

.section .line {
    height: 2px;
    background: #000;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.section p {
    line-height: 1.5;
    padding: 1.5em 0 3em 0;
    color: rgba(16, 16, 16, 0.6);
}

.section .add-padding {
    padding: 1.5em 0 0 0;
}

.section .add-padding:last-of-type {
    padding-bottom: 3em;
}

.unit {
    padding: 3em 0 0 0;
}

.unit.add-bottom-padding {
    padding-bottom: 3em;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.half.with-padding {
    padding: 0 1.5em;
}

.half.with-padding:first-of-type {
    padding-left: 0;
}

.half.with-padding:last-of-type {
    padding-right: 0;
}

.section .half.with-bg {
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.section .third {
    width: 33.3332%;
    padding: 1.5em;
    margin: 1.5em 1.5em 0 1.5em;
    border-radius: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.section .transparent {
    padding: 1em;
}

.section .circle {
    margin-right: 1em;
}

.section .third:first-of-type, .section .half.with-bg:first-of-type {
    margin-left: 0;
    margin-right: 0;
}

.section .third:last-of-type {
    margin-left: 0;
    margin-right: 0;
}

.section .half.with-bg:first-of-type {
    margin-bottom: 0;
}

.section .half.with-bg:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
}

.section h1 {
    font-size: 1.125em;
    background: #fbfbfb;
    padding: 4px 8px;
    display: inline-block;
    position: relative;
    left: 10px;
    top: -1px;
}

.section h2 {
    font-size: 0.875em;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
}

.section ul {
    color: rgba(16, 16, 16, 0.6);
    font-size: 0.875em;
    line-height: 1.5;
    list-style-type: none;
    list-style-position: inside;
}

.section ul li:before {
    content: '\F12C';
    margin-right: 6px;
    color: rgba(16, 16, 16, 0.3);
}

.section .process-image, .section .process-image-second, .section .process-image-second.edge-to-edge {
    width: 100%;
    padding: 2em;
    background: #fff;
    margin: 1.5em 0;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.section .process-image.solo {
    margin-bottom: 0;
}

.section .process-image-second {
    padding: 2em;
    margin: 0;
}

.section .process-image-second.edge-to-edge {
    padding: 0;
    overflow: hidden;
}

/* SELECTED WORK */

#work .title {
    -webkit-flex: 1;
    flex: 1;
    padding: 3em 2em;
}

#work .title.minify, .continue .title.minify {
    padding: 2em;
}

#work h1, .continue h1 {
    font-size: 1.750em;
    font-weight: 500;
    padding-bottom: 6px;
    color: #fff;
}

.continue h1 {
    font-size: 1.125em;
}

#work p, .continue p {
    line-height: 1.5;
    font-size: 0.875em;
    color: rgba(255, 255, 255, 1);
}

#work a, .label, .continue a {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 20px;
    background: #fff;
    text-transform: uppercase;
    font-size: 0.750em;
    margin: 10px 0 0 0;
    transition: box-shadow 0.3s;
}

#work a:after, .continue a:after {
    content: "\F054";
    font-weight: 400;
    font-family: 'Material Design Icons';
    margin-left: 6px;
    transition: margin 0.2s;
}

#work a:hover:after, .continue a:hover:after {
    margin-left: 18px;
    transition: margin 0.2s;
}

#work a:active, .continue a:active {
    box-shadow: none;
    transition: box-shadow 0.3s;
}

#work .sample {
    -webkit-flex: 1;
    flex: 1;
    padding: 1em 2em 1em 1em;
}

#work .sample.reverse {
    padding: 1em 1em 1em 2em;
}

.block, .block.third {
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.block.third {
    width: 33.3332%;
    margin: 3em 1.25em;
}

.block.third:first-of-type {
    margin-left: 0;
}

.block.third:last-of-type {
    margin-right: 0;
}

/* MYHEAT */

.orange-grd {
    background: linear-gradient(to right, #f09819 0%, #ff7158 100%);
}

#work .block .light-orange, .continue .block .light-orange {
    background: rgba(240, 152, 25, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(240, 152, 25, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel 10s 1s infinite;
}

.orange-text-shadow {
    text-shadow: 0 1px 3px rgba(217, 101, 8, 1);
}

.orange-box-shadow {
    box-shadow: 0 2px 10px rgba(217, 101, 8, 0.7);
}

.orange-text-color {
    color: #f09819 !important;
}

.orange-grd-text {
    color: #f09819;
    background: -webkit-linear-gradient(#f09819, #ff7158);
    background: linear-gradient(to right, #f09819 0%, #ff7158 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* VISUALOG */

.grey-grd {
    background: linear-gradient(to right, #375e78 0%, #1C2A3C 100%);
    /* box-shadow: -10px 10px 0 rgba(55, 94, 120, 0.2); */
}

#work .block .light-grey, .continue .block .light-grey {
    background: rgba(55, 94, 120, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(55, 94, 120, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel-reverse 10s 1s infinite;
}

.grey-text-shadow {
    text-shadow: 0 1px 3px rgba(28, 42, 60, 1);
}

.grey-box-shadow {
    box-shadow: 0 2px 10px rgba(28, 42, 60, 0.7);
}

.grey-text-color {
    color: #375e78;
}

.grey-grd-text {
    color: #375e78;
    background: -webkit-linear-gradient(#375e78, #1C2A3C);
    background: linear-gradient(to right, #375e78 0%, #1C2A3C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* MONEY AFTER GRADUATION */

.teal-grd {
    background: linear-gradient(to right, #189dad 0%, #00cdac 100%);
    /* box-shadow: 10px 10px 0 rgba(0, 205, 172, 0.2); */
}

#work .block .light-teal, .continue .block .light-teal {
    background: rgba(0, 205, 172, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(0, 205, 172, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel 10s 1s infinite;
}

.teal-text-shadow {
    text-shadow: 0 1px 3px rgba(10, 110, 122, 0.7);
}

.teal-box-shadow {
    box-shadow: 0 2px 10px rgba(10, 110, 122, 0.7);
}

.teal-text-color {
    color: #189dad;
}

.teal-grd-text {
    color: #189dad;
    background: -webkit-linear-gradient(#00cdac, #189dad);
    background: linear-gradient(to right, #00cdac 0%, #189dad 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* SPORTSITY */

.green-grd {
    background: linear-gradient(to right, #50cc60 0%, #009c2d 100%);
    /* box-shadow: -10px 10px 0 rgba(80, 204, 96, 0.2); */
}

#work .block .light-green, .continue .block .light-green {
    background: rgba(80, 204, 96, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(80, 204, 96, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel-reverse 10s 1s infinite;
}

.green-text-shadow {
    text-shadow: 0 1px 3px rgba(0, 156, 45, 1);
}

.green-box-shadow {
    box-shadow: 0 2px 10px rgba(0, 156, 45, 0.7);
}

.green-text-color {
    color: #009c2d;
}

.green-grd-text {
    color: #009c2d;
    background: -webkit-linear-gradient(#50cc60, #009c2d);
    background: linear-gradient(to right, #50cc60 0%, #009c2d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* H WEDS A */

.copper-grd {
    background: linear-gradient(to right, #956356 0%, #debeb2 100%);
    /* box-shadow: 10px 10px 0 rgba(148, 113, 107, 0.2); */
}

#work .block .light-copper, .continue .block .light-copper {
    background: rgba(148, 113, 107, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(148, 113, 107, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel 10s 1s infinite;
}

.copper-text-shadow {
    text-shadow: 0 1px 3px rgba(108, 82, 77, 1);
}

.copper-box-shadow {
    box-shadow: 0 2px 10px rgba(108, 82, 77, 0.7);
}

.copper-text-color {
    color: #956356;
}

.copper-grd-text {
    color: #956356;
    background: -webkit-linear-gradient(#c69c8c, #956356);
    background: linear-gradient(to right, #c69c8c 0%, #956356 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* RUBIKLOUD */

.blue-grd {
    background: linear-gradient(to right, #0fa5ff 0%, #0079c1 100%);
}

#work .block .light-blue, .continue .block .light-blue {
    background: rgba(15, 165, 255, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgba(15, 165, 255, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel-reverse 10s 1s infinite;
}

.blue-text-shadow {
    text-shadow: 0 1px 3px #0487b4;
}

.blue-box-shadow {
    box-shadow: 0 2px 10px rgba(4, 135, 180, 0.7);
}

.blue-text-color {
    color: #0fa5ff;
}

.blue-grd-text {
    color: #0fa5ff;
    background: -webkit-linear-gradient(#0fa5ff, #0079c1);
    background: linear-gradient(to right, #0fa5ff 0%, #0079c1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* PAGERDUTY */

.pd-grd {
    background: linear-gradient(to right, #06ac38 0%, #047c34 100%);
}

#work .block .light-pd {
    background: rgb(6, 172, 56, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4px;
    transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    box-shadow: 0 5px 20px rgb(6, 172, 56, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel 10s 1s infinite;
}

.pd-text-shadow {
    text-shadow: 0 1px 3px #00732e;
}

.pd-box-shadow {
    box-shadow: 0 2px 10px rgba(4, 135, 180, 0.7);
}

.pd-text-color {
    color: #06ac38;
}

.pd-grd-text {
    color: #06ac38;
    background: -webkit-linear-gradient(#06ac38, #00732e);
    background: linear-gradient(to right, #06ac38 0%, #00732e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* FLYVU */

/* .blue-grd {
    background: linear-gradient(to right, #04befe 0%, #3774df 100%);
} */

/* #work .block .light-blue {
    background: rgba(4, 190, 254, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    transform: skew(4deg, 4deg) scale(1.05) rotateX(-35deg);
    box-shadow: 0 5px 20px rgba(4, 190, 254, 0.2);
    z-index: -1;
    border-radius: 20px;
    animation: swivel-reverse 10s 1s infinite;
}

.blue-text-shadow {
    text-shadow: 0 1px 3px #0487b4;
}

.blue-box-shadow {
    box-shadow: 0 2px 10px rgba(4, 135, 180, 0.7);
}

.blue-text-color {
    color: #2ba0f4;
} */

/* ARTICLES */

/* #articles ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    padding: 3em 0;
    color: rgba(16, 16, 16, 0.6);
}

#articles ol li {
    line-height: 1.3;
    margin: 16px 0;
}

#articles ol li:first-child {
    margin-top: 0;
}

#articles ol li:last-child {
    margin-bottom: 0;
} */

#about a, .section p a {
    border-bottom: 1px solid rgba(16, 16, 16, 0.25);
    color: inherit;
    transition: color 0.3s, background 0.3s;
}

#about a:hover, .section p a:hover {
    background: rgba(16, 16, 16, 0.9);
    border-bottom: 1px solid transparent;
    transition: color 0.3s, background 0.3s;
    color: #fff;
}

/* ABOUT */

#about .profile-pic img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05);
}

#about .profile-summary {
    line-height: 1.5;
    margin-left: 2em;
    color: rgba(16, 16, 16, 0.6);
}

/* GALLERY */

#instafeed {
    width: 100%;
    min-height: 600px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

#instafeed a {
    width: calc(33.3332% - 20px);
    margin: 0 0 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
    border-radius: 20px;
}

#instafeed a img {
    background: #fff;
    display: block;
    width: 100%;
    height: 226px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

#instafeed a img:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

/* FOOTER */

footer {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    position: relative;
    z-index: 1;
}

footer p {
    font-size: 0.750em;
}

footer a {
    color: inherit;
    display: inline-block;
    transition: color 0.3s;
}

footer a:hover {
    color: rgba(16, 16, 16, 0.6);
    transition: color 0.3s;
}

/* ANIMATION */

@-webkit-keyframes swivel {
    0% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    50% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    100% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
}

@keyframes swivel {
    0% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    50% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    100% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
}

@-webkit-keyframes swivel-reverse {
    0% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    50% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    100% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
}

@keyframes swivel-reverse {
    0% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    50% {
        transform: skew(-4deg, -4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
    100% {
        transform: skew(4deg, 4deg) scale3d(1.05, 0.90, 1) rotate3d(0, 0, 0, 35deg);
    }
}

.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/* ICONS */

.mdi {
    margin: 0 0 0 6px;
}

.mdi-32 {
    font-size: 32px;
}

.mdi.orange:before {
    color: #f09819;
    background: -webkit-linear-gradient(#f09819, #ff7158);
    background: linear-gradient(to right, #f09819 0%, #ff7158 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.mdi.grey:before {
    color: #375e78;
    background: -webkit-linear-gradient(#375e78, #1C2A3C);
    background: linear-gradient(to right, #375e78 0%, #1C2A3C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.mdi.teal:before {
    color: #189dad;
    background: -webkit-linear-gradient(#00cdac, #189dad);
    background: linear-gradient(to right, #00cdac 0%, #189dad 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.mdi.green:before {
    color: #009c2d;
    background: -webkit-linear-gradient(#50cc60, #009c2d);
    background: linear-gradient(to right, #50cc60 0%, #009c2d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.mdi.copper:before {
    color: #956356;
    background: -webkit-linear-gradient(#956356, #debeb2);
    background: linear-gradient(to right, #956356 0%, #debeb2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.mdi.blue:before {
    color: #0fa5ff;
    background: -webkit-linear-gradient(#0fa5ff, #0079c1);
    background: linear-gradient(to right, #0fa5ff 0%, #0079c1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.check {
    margin: 0;
}

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.eot?v=2.2.43");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=2.2.43") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=2.2.43") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=2.2.43") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=2.2.43") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=2.2.43#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "Material Design Icons";
    font-weight: 400;
    display: inline-block;
    padding: 8px;
}

.icon-email:before {
    content: '\F1EE';
    font-size: 20px;
    position: relative;
    top: 1px;
}

.icon-twitter:before {
    content: '\F544';
    font-size: 20px;
}

.icon-github-circled:before {
    content: '\F2A4';
    font-size: 20px;
}

.icon-linkedin:before {
    content: '\F33B';
    font-size: 20px;
}

.icon-instagram:before {
    content: '\F2FE';
    font-size: 20px;
}

.icon-byte:before {
    content: '\FBCB';
    font-size: 20px;
}

.mdi-menu:before {
    content: "\F35C";
    font-size: 24px;
    margin: 0;
}

.mdi.area-icon {
    margin: 0 6px 0 0;
}

.mdi-lead-pencil:before {
    content: "\F64F";
}

.mdi-code-tags:before {
    content: "\F174";
}

.mdi-invert-colors:before {
    content: "\F301";
}

.mdi-human-greeting:before {
    content: "\F64A";
}

.mdi-thumb-up:before {
    content: "\F513";
}

.mdi-margin:before {
    content: "\F353";
}

.mdi-bookmark-check:before {
    content: "\F0C1";
}

.mdi-trophy-award:before {
    content: "\F539";
}

.mdi-finance:before {
    content: "\F81E";
}

button.mdi {
    margin: 0 !important;
}

/* MISC */

/* *::selection {
    background: #000;
    color: #fff;
} */

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 48em) {
    .section.wrapper {
        margin: 0 2em;
    }
    #articles ol {
        margin: 0 1em;
    }
    #about {
        padding: 3em 1em;
    }
    #work.wrapper {
        margin: 0 2em;
    }
}

@media screen and (max-width: 37.5em) {
    .logo, nav, .copyright, .social {
        width: 100%;
    }
    header {
        transition: padding 0.3s;
        height: 66px;
        transition: height 0.3s;
        transition-delay: 0.1s;
        padding: 0;
    }
    header.with-nav {
        height: 109px;
        transition: height 0.3s;
    }
    .logo {
        padding: 18px;
    }
    nav {
        font-size: 0.688em;
        text-align: center;
        margin: 0 0 18px 0;
        opacity: 1;
        transition: all 0.2s;
        transition-delay: 0.1s;
        transform: translateY(0);
        visibility: visible;
    }
    nav a:hover, nav a:active, nav a:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    nav a {
        border: 1px solid transparent;
    }
    nav a, nav a:last-child {
        padding: 6px 12px;
    }
    nav.hide-on-mobile {
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(5px);
        visibility: hidden;
    }
    .mobile-menu {
        display: block;
    }
    button.mdi {
        padding: 18px 16px;
    }
    .mobile-wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .mobile-center {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .hero {
        margin: 2em 2em 3em 2em;
    }
    .hero h1 {
        font-size: 1.5em;
    }
    .hero h2 {
        font-size: 0.875em;
    }
    #articles ol {
        padding: 2em 2em 3.5em 2em;
        margin: 0;
    }
    #articles ol li {
        line-height: 1.5;
    }
    #about.wrapper {
        padding: 2em;
    }
    #work .title {
        -webkit-flex: auto;
        flex: auto;
        padding: 2em;
    }
    #work .sample, #work .sample.reverse {
        padding: 0 2em 2em 2em;
    }
    /* .section.wrapper {
        margin: 0 2em;
    } */
    #about .profile-pic {
        width: 100%;
        text-align: center;
    }
    #about .profile-pic img {
        /* width: 200px;
        height: 200px; */
        margin: 1em 0 2em 0;
    }
    #about .profile-summary {
        margin-left: 0;
    }
    #instafeed {
        width: calc(100% - 36px);
        margin: 18px;
    }
    #instafeed a {
        width: 96px;
    }
    #instafeed a img {
        height: 96px;
    }
    #instafeed > a:nth-last-child(3), #instafeed > a:nth-last-child(2), #instafeed > a:last-child {
        margin-bottom: 0;
    }
    .social, .copyright {
        text-align: center;
    }
    footer {
        padding: 18px 18px 26px 18px;
    }
    .copyright {
        padding-top: 10px;
    }
    .reverse-on-mobile {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .section .unit.half {
        padding: 0;
    }
    .mock {
        margin: 1em 0 1.5em 0;
    }
    .section .process-image, .section .process-image-second {
        padding: 1em;
    }
    .section .process-image-second {
        margin-bottom: 1em;
    }
    .overflow {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .add-overflow-padding-on-mobile {
        padding: 0 2em;
    }
    .flex.add-overflow-padding-on-mobile {
        width: auto;
    }
    .unit {
        padding: 2em 0 1em 0;
    }
    .half.with-padding:first-of-type {
        padding-right: 0;
        padding-bottom: 3em;
    }
    .half.with-padding:last-of-type {
        padding-left: 0;
        padding-bottom: 1em;
    }
    .section.overflow {
        margin-left: 0;
        margin-right: 0;
    }
    .half, .section .half, .section .third {
        width: 100%;
    }
    .section .process-image {
        margin: 2em 0;
    }
    .section .third, .section .half.with-bg {
        margin: 2em 2em 0 2em;
        min-width: 220px;
    }
    .block.third {
        margin: 2em 1em;
        min-width: 220px;
    }
    .section .third.transparent:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }
    .section .third.transparent:nth-of-type(3) {
        margin-bottom: 0.5em;
    }
    .section .process-image.solo {
        margin-bottom: 1em;
    }
    .no-bottom-padding-on-mobile {
        padding-bottom: 0 !important;
    }
    .add-top-padding-on-mobile {
        padding-top: 3em !important;
    }
    .add-bottom-padding-on-mobile {
        padding-bottom: 3em !important;
    }
    .add-top-margin-on-mobile-for-img {
        margin-top: 2em;
    }
    .no-feature-image {
        margin-bottom: 1em !important;
    }
}
