html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    margin: 0;
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(16, 16, 16, 1);
    -webkit-font-rendering: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body {
    padding: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 10px -1px rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .22);
    background: #FFF;
}

#container .profile-picture {
    width: 100%;
    text-align: center;
    padding: 12px;
}

#container .profile-picture .img {
    background: #AAA url('../img/bilal-karim.png');
    background-size: contain;
    width: 148px;
    height: 148px;
    border-radius: 148px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#container h1 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.250em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#container h1 sup {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0;
    color: rgba(16, 16, 16, 0.5);
    font-size: 0.750em;
}

#container p {
    font-size: 1.125em;
    max-width: 555px;
    text-align: center;
    font-weight: 300;
    padding: 12px 24px;
    color: rgba(16, 16, 16, 0.7);
}

#container a {
    text-decoration: none;
    color: rgba(16, 16, 16, 1);
    border-bottom: 1px solid rgba(16, 16, 16, 0.15);
    padding-bottom: 2px;
}

#container a:hover, #container a:active {
    border: 0;
}

#container .networks {
    width: 100%;
    text-align: center;
    padding-top: 12px;
}

#container .networks a {
    font-size: 1.250em;
    border: 0;
    color: rgba(16, 16, 16, 0.5);
}

#container .networks a:hover {
    color: rgba(16, 16, 16, 1);
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?76119386');
    src: url('../font/fontello.eot?76119386#iefix') format('embedded-opentype'), url('../font/fontello.woff2?76119386') format('woff2'), url('../font/fontello.woff?76119386') format('woff'), url('../font/fontello.ttf?76119386') format('truetype'), url('../font/fontello.svg?76119386#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    padding: 10px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

.icon-twitter:before {
    content: '\f099';
}

.icon-github-circled:before {
    content: '\f09b';
}

.icon-linkedin:before {
    content: '\f0e1';
}

.icon-instagram:before {
    content: '\f16d';
}

@media screen and (max-width: 37.5em) {
    #container .profile-picture .img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    #container h1, #container p {
        font-size: 1em;
    }
}

@media screen and (max-width: 22em) {
    #container .profile-picture .img {
        width: 80px;
        height: 80px;
        border-radius: 80px;
    }
    #container h1, #container p {
        font-size: 0.875em;
    }
}
